html {}

* {
  box-sizing: border-box
}

body {
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  margin: 0;
  padding: 0;
  background: rgb(224, 224, 224);
}

a {
  text-decoration: underline;
  color: rgb(121, 39, 238);
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

a::after {
  color: black;
  text-decoration: none;
}

p {
  position: absolute;
  margin: 10px 10px 10px 10px;
  /* padding-top: 0; */
  /* padding-bottom: 10px; */
  font-size: 14px;
  font-family: sans-serif;
  /* mix-blend-mode: difference; */
}

.info {
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 66;
  font-size: 14px;
  color: rgb(66, 66, 66);
    /* color: #8673cb; */
  font-family: sans-serif;
  /* width:500px; */
}

.slideshow-container {
  position: relative;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  text-align: center;
  justify-content: center;
    align-items: center;
     display: flex;
  /* transition: opacity 0.9s; */
}

.slide.active {
  opacity: 1;
}

.slide img {
  /* width: 70%; */
  height: 100vh;
  object-fit: cover;
  /* margin: 20px; */
}
